<div class="row">
    <div class="col-xs-12 col-sm-4">
        <h3>About me</h3>
        <p>A bit about me.</p>
        <button routerLink="my-story" type="button" class="mystory btn"><span>Visit</span></button>
    </div>

    <div class="col-xs-12 col-sm-4">
        <h3>PDF project</h3>
        <p>Annotate my CV using the Angular PDF annotator ☺</p>
        <button routerLink="/projects/pdf" type="button" class="pdf btn"><span>Annotate</span></button>
    </div>

    <div class="col-xs-12 col-sm-4">
        <h3>Web scraper project</h3>
        <p>Search for valuable products using the web-scraper.</p>
        <button routerLink="/projects/scraper/create" type="button" class="gumtree btn"><span>Search</span></button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <h3>Floorplan scanner</h3>
        <p>Automatically get floorplan areas. Useful for getting the square meters of a property.</p>
        <button routerLink="/projects/floorplan-scanner" type="button" class="floorplan btn"><span>Scan</span></button>
    </div>
    <div class="col-xs-12 col-sm-4">
        <h3>Fund price</h3>
        <p>Get todays price for your favourite pension fund.</p>
        <button routerLink="/projects/fund-price" type="button" class="fundprice btn"><span>View</span></button>
    </div>
</div>
