<h3>Historic Prices</h3>
<div class="form-group">
    <label>From Date</label>
    <div class='input-group'>
    <input (click)="d.toggle()"
            placeholder="{{lastWeekDate | date: 'yyyy-MM-dd'}}" 
            type="text" 
            ngbDatepicker 
            #d="ngbDatepicker"
            [(ngModel)]="fromDate"
            [minDate]="(minDate)"
            [maxDate]="(maxDate)"
            class="form-control"
            />
    </div>
    <label>To Date</label>
    <div class='input-group'>
    <input (click)="e.toggle()"
            placeholder="{{yesterdaysDate | date: 'yyyy-MM-dd'}}" 
            type="text" 
            ngbDatepicker 
            #e="ngbDatepicker" 
            [(ngModel)]="toDate"
            [minDate]="(fromDate)"
            [maxDate]="(maxDate)"
            class="form-control"
    />
    </div>
</div>
<button class="btn" (click)="onGenerateClick()">Generate CSV</button>

<ngx-spinner
    bdOpacity = 0.9
    bdColor = "rgba(0,0,0,0.4)"
    size = "large"
    color = "#ffffff"
    type = "pacman"
    [fullScreen] = "false">
</ngx-spinner>