<h3>Historic Prices</h3>
<div class="form-group">
    <label>From Date</label>
    <div class='input-group'>
    <input (click)="d.toggle()"
            placeholder="{{lastWeekDate | date: 'yyyy-MM-dd'}}" 
            type="text" 
            ngbDatepicker 
            #d="ngbDatepicker"
            [(ngModel)]="startDate"
            [minDate]="(minDate)"
            [maxDate]="(maxDate)"
            class="browser-default"
            class="form-control"
            />
    </div>
    <label>To Date</label>
    <div class='input-group'>
    <input (click)="e.toggle()"
            placeholder="{{yesterdaysDate | date: 'yyyy-MM-dd'}}" 
            type="text" 
            ngbDatepicker #e="ngbDatepicker" 
            [(ngModel)]="endDate"
            [minDate]="(startDate)"
            [maxDate]="(maxDate)"
            class="form-control"
    />
</div>
    </div>
<button class="btn btn-light" (click)="onClick()">Generate CSV</button>
