  <div class="jumbotron">
    <h1>Gumtree scraper project</h1>
    <p>This is a script I developed for scraping Gumtree.com. I used to build computers and crypto mining rigs 
      so i needed to find the best deals on components.</p>
  </div>

  <ul>
    <li>
        <p>Python version is on my <a href='https://github.com/phillipDenness/ShopperPython' target='_blank'>GitHub</a></p>
    </li>
    <li>
        <p>Java version is unfortunately incomplete but is also on my <a href='https://github.com/phillipDenness/LocalDealFinder' target='_blank'>GitHub</a></p>
    </li>
  </ul>