<div class="row">
    <div class="col-xs-12 col-sm-4">
        <h2>My story</h2>
        <p>A bit about me. Where I came from and where I want to go.</p>
        <button routerLink="profile" type="button" class="mystory btn btn-light"><span>Visit</span></button>
    </div>

    <div class="col-xs-12 col-sm-4">
        <h2>PDF project</h2>
        <p>Annotate my CV using the Angular PDF annotator :)</p>
        <button routerLink="/pdf" type="button" class="pdf btn btn-light"><span>Annotate</span></button>
    </div>

    <div class="col-xs-12 col-sm-4">
        <h2>Gumtree project</h2>
        <p>Search for valuable products using the Python web-scraper</p>
        <button routerLink="/gumtree" type="button" class="gumtree btn btn-light"><span>Search</span></button>
    </div>
</div>
