
<nav class="navbar navbar-expand-lg">
  <div class="container">
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="/welcome">Welcome</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/projects/pdf">PDF Annotator</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/projects/scraper/create">Web Scraper</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/projects/floorplan-scanner">Floorplan scanner</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/projects/fund-price">Fund price</a></li>
      </ul>
  </div>
</nav>
