<form 
  [style.top.px]="commentPosTop"
  [style.z-index]="zIndex"
  class="comment-list-item" 
  (ngSubmit)="onSubmit()" #commentItem="ngForm" 
  (click)="handleCommentClick()">
  <time ng-controller="datCtrl"><p class="p">{{ comment.createdDate | date: 'd MMMM y h:mm a' }}</p></time>

  <textarea 
    #commentArea
    (blur)="onBlur()"
    type="text" 
    [class.mimic-focus]="focused"
    class="form-control mimic-focus"
    required
    [ngModel]="comment.content" name="content"
    value="comment.content"></textarea>

    <div [hidden]="hideButton">
        <button type="submit" class="btn btn-outline-primary" role="button">Add</button>
        <button 
          class="btn btn-outline-danger" 
          role="button"
          (click)="handleDeleteComment()">Delete</button>
    </div>
</form>
