<div [hidden]="!isShowToolbar" class="toolbar"
    #contextualToolBar
    [style.left.px]="toolPos.left"
    [style.top.px]="toolPos.top">

    <button 
        [hidden]="!showDelete" 
        type="button" 
        title="Delete" class="btn btn-danger contextual-btn leftButton" 
        (click)="handleDeleteBtnClick()"
    ><span>Remove Highlight</span></button>
    
    <button type="button" title="Comment" class="btn btn-primary contextual-btn rightButton" 
            (click)="handleCommentBtnClick()"
    ><span>Comment</span></button>

</div>
