main {
    min-height: 900px;
    background-color: rgb(35, 43, 51);
    color: seashell;
}

h2, h3, h4, h5, h6, option, select, .dark, input[type=text]:focus {
    color: #EFBB35;
}

h1 {
    color: #EFBB35;
    font-size: 59.2px;
    font-family: "IBM Plex Mono ExtraLight", "Segoe UI", "Helvetica Neue", Helvetica, Roboto, 'Open Sans', FreeSans, sans-serif;
    font-style: italic;
    line-height: 1;
    font-weight: 200;
    text-align: center;
}



p, .card-body, th, tr, input, label, h1, h2, h3, h4, h5, h6, a, textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.6;
    font-weight: 300;
}
.jumbotron, .card, .footer, .comment-list-item {
    background-color: rgb(35, 43, 51) !important;
    border-bottom: 2px solid #EFBB35 !important;
}

button, .btn {
    font-family: "IBM Plex Mono", 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
    background-color: rgba(180, 161, 83, 0);
    color: rgb(247, 183, 205);
    border: 2px solid rgb(113, 78, 92);
}

input[type="text"], textarea, option, option > select, .dark, #tagList, input[type=text]:focus {
    background-color: rgb(28, 35, 40);
}

.card-body {
    border: 2px solid #EFBB35
}

.header-border {
    border-left: 2px solid #EFBB35;
}

.toolbar .btn-danger {
    color: white;
    background-color: #e74c3c;
}

.toolbar .btn-primary {
    color: white;
    background-color: #3498db;
}

.header {
    display: block;
    max-width: 300px;
    margin: auto;
}